/* --------- CSS TEMPORAL ---------
----------- TO-DO: Mejorar cuando esté funcionalidad implementada */
#contenedorTablero{
    /* width: 50vw; */
    display: grid;
    grid-template-columns: 200px;
}

input{
    width: 30px;
    text-align: center;
}

#dificultad{
    text-align: center;
}

input{
    color:white; /* temporal para debug*/
    width: 25px;
    height: 25px;
}

/* 
[descubierto="true"], :disabled{
   background-color: #fff;
} */
